<div class="cardinal">
  <div
    style="background: #2b2b2b; color:aliceblue; text-align: center; width: 250px;"
  >
    <h2>{{title}}</h2>
    <h2>${{price}}</h2>
    <p>{{description}}</p>
  </div>
  <div style="">
    <a href="/api/productos/delete/{{id}}" style="padding: 1rem">
      Delete
    </a>
    <a href="/api/productos/edit/{{id}}" style="padding: 1rem">
      Edit
    </a>
  </div>
</div>